@import "../variables.less";

.catalog {
  &__description {
    color: @midnight;
    font-size: @fontSizeSmall;
    line-height: @lineHeightAverage;
    font-weight: @fontWeightNormal;
  }

  &__author-info {
    background-color: @greyBackground;
  }

  &__author-name {
    color: @midnight;
    font-size: @fontSizeSmall;
    line-height: @lineHeightMoreSmall;
    font-weight: @fontWeightBold;
    font-style: normal;
  }

  &__time {
    color: @midnight;
    font-size: @fontSizeTiny;
    line-height: @lineHeightMoreSmall;
    font-weight: @fontWeightLight;
    font-style: normal;
  }

  &__text {
    color: @midnight;
    font-size: @fontSizeSmall;
    line-height: @lineHeightMoreSmall;
    font-weight: @fontWeightNormal;
  }

  &__likes-number {
    color: @pink;
    font-size: @fontSizeTiny;
    line-height: @lineHeightMoreSmall;
    font-weight: @fontWeightNormal;
  }
}
