@import "../variables.less";

.catalog {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tabletWidth) {
    width: 660px;
  }

  @media (min-width: @desktopWidth) {
    width: 100%;
  }

  &__description {
    color: @midnight;
    font-size: @fontSizeSmall;
    line-height: @lineHeightAverage;
    font-weight: @fontWeightNormal;
    text-align: center;
    width: 250px;
    margin: 0 auto;
    padding-top: 45px;
    margin-bottom: 49px;

    @media (min-width: @tabletWidth) {
      font-size: @fontSizeBig;
      width: 450px;
      padding-top: 90px;
      margin-bottom: 77px;
    }

    @media (min-width: @desktopWidth) {
      width: 600px;
      margin-bottom: 90px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    @media (min-width: @tabletWidth) {
      margin: 0 auto;
      width: 620px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 29px;
    }

    @media (min-width: @desktopWidth) {
      width: 940px;
      margin: 0 auto;
      padding-top: 0;
    }
  }

  &__item {
    margin: 0 auto;
    padding-top: 18px;

    &:first-child {
      padding-top: 16px;

      @media (min-width: @tabletWidth) {
        padding-top: 17px;
      }

      @media (min-width: @desktopWidth) {
        padding-top: 51px;
      }
    }

    @media (min-width: @tabletWidth) {
      width: 300px;
      margin: 0;
      padding-top: 17px;

      &:nth-child(2n) {
        margin-left: 20px;
      }
    }

    @media (min-width: @desktopWidth) {
      padding-top: 51px;

      &:nth-child(2n) {
        margin-left: 0;
      }

      &:nth-child(3n),
      &:nth-child(3n-1) {
        margin-left: 20px;
      }
    }
  }

  &__image {
    @media (min-width: @tabletWidth) {
      width: 300px;
      height: 300px;
    }

    @media (min-width: @desktopWidth) {
      height: 400px;
    }

    &-day {
      width: 320px;
      margin: 0 auto;

      @media (min-width: @tabletWidth) {
        width: 660px;
        height: 509px;
      }

      @media (min-width: @desktopWidth) {
        width: 960px;
        height: 506px;
      }
    }
  }

  &__item--image-day {
    width: 320px;
    margin: 0 auto;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 140px;
      height: 36px;
      top: 0;
      right: 20px;
      background-color: @pink;

      @media (min-width: @tabletWidth) {
        top: 57px;
      }

      @media (min-width: @desktopWidth) {
        top: 53px;
        right: 130px;
      }
    }

    &::after {
      position: absolute;
      content: "Панорама дня";
      color: @white;
      top: 6px;
      right: 43px;
      font-size: @fontSizeTiny;
      line-height: @lineHeightMoreSmall;
      text-transform: uppercase;

      @media (min-width: @tabletWidth) {
        top: 63px;
      }

      @media (min-width: @desktopWidth) {
        top: 59px;
        right: 153px;
      }
    }

    @media (min-width: @tabletWidth) {
      width: 660px;
      margin: 0 auto;
      padding-top: 0;
    }

    @media (min-width: @desktopWidth) {
      width: 1200px;
      margin: 0 auto;
      margin-bottom: -5px;
    }
  }

  &__item--image-day &__author-info {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media (min-width: @tabletWidth) {
      width: 590px;
      padding: 0;
      padding-top: 23px;
      padding-left: 30px;
      padding-bottom: 28px;
      justify-content: space-between;
    }

    @media (min-width: @desktopWidth) {
      width: 910px;
      padding-bottom: 37px;
    }
  }

  &__item--image-day &__text {
    @media (min-width: @tabletWidth) {
      width: 520px;
      order: 2;
      height: 45px;
    }

    @media (min-width: @desktopWidth) {
      width: 875px;
      height: 10px;
    }
  }

  &__item--image-day &__like {
    @media (min-width: @tabletWidth) {
      width: 120px;
      order: 1;
      padding-right: 30px;
      margin-bottom: 0;
    }
  }

  &__wide-image {
    @media (min-width: @desktopWidth) {
      width: 1200px;
      height: 506px;
    }
  }

  &__author-info {
    background-color: @greyBackground;
    width: 253px;
    padding-left: 17px;
    padding-right: 10px;
    padding-top: 17px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: -4px;

    @media (min-width: @tabletWidth) {
      width: 250px;
      margin: 0;
      padding-top: 22px;
      padding-left: 30px;
      padding-right: 20px;
      padding-bottom: 4px;
    }

    @media (min-width: @desktopWidth) {
      width: 245px;
      padding-top: 23px;
      padding-left: 29px;
      padding-right: 26px;
      padding-bottom: 4px;
    }
  }

  &__author-name {
    font-style: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__name {
    color: @midnight;
    font-size: @fontSizeSmall;
    line-height: @lineHeightMoreSmall;
    font-weight: @fontWeightBold;
    margin-right: 3px;
  }

  &__time {
    color: @midnight;
    font-size: @fontSizeTiny;
    line-height: @lineHeightMoreSmall;
    font-weight: @fontWeightLight;
    font-style: normal;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    margin-bottom: 11px;
    width: 260px;
    color: @midnight;
    font-size: @fontSizeSmall;
    line-height: @lineHeightMoreSmall;
    font-weight: @fontWeightNormal;

    @media (min-width: @tabletWidth) {
      width: 232px;
      height: 61px;
      margin-bottom: 0;
    }
  }

  &__like {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 18px;

    @media (min-width: @tabletWidth) {
      width: 240px;
      justify-content: space-between;
    }
  }

  &__likes-number {
    color: @pink;
    font-size: @fontSizeTiny;
    line-height: @lineHeightMoreSmall;
    font-weight: @fontWeightNormal;
    text-transform: uppercase;
    padding-left: 18px;

    @media (min-width: @tabletWidth) {
      order: -1;
      padding-left: 0;
    }
  }
}
