@import "../variables.less";

.contacts {
  background-color: @white;

  &__report-us {
    color: @midnight;
    font-size: @fontSizeHuge;
    line-height: @lineHeightNormal;
    font-weight: @fontWeightLight;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: @midnight;
    font-size: @fontSizeBig;
    line-height: @lineHeightSmall;
    font-weight: @fontWeightBold;
  }

  &__phone-number,
  &__email,
  &__description {
    color: @pink;
    font-size: @fontSizeHuge;
    line-height: @lineHeightHuge;
    font-weight: @fontWeightLight;
  }

  &__phone-number,
  &__email {
    text-decoration: none;
  }
}
