@import "../variables.less";

.contacts {
  background-color: @white;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  z-index: 3;

  @media (min-width: @tabletWidth) {
    min-width: 660px;
  }

  @media (min-width: @desktopWidth) {
    width: 100%;
  }

  &__wrapper {
    width: 240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 42px;
    padding-bottom: 32px;

    @media (min-width: @tabletWidth) {
      width: 620px;
      padding: 0 20px;
      padding-bottom: 25px;
    }

    @media (min-width: @desktopWidth) {
      width: 940px;
      padding: 0 10px;
      padding-top: 62px;
      padding-bottom: 18px;
    }
  }

  &__report-us {
    margin: 0;
    color: @midnight;
    font-size: @fontSizeHuge;
    line-height: @lineHeightNormal;
    font-weight: @fontWeightLight;
    text-align: center;
    margin-bottom: 35px;

    @media (min-width: @tabletWidth) {
      padding: 0 110px;
      font-size: @fontSizeUltimate;
      line-height: @lineHeightSuper;
      padding-top: 45px;
      margin-bottom: 33px;
    }

    @media (min-width: @desktopWidth) {
      padding: 0 180px;
      margin-bottom: 40px;
      font-size: @fontSizeDesktop;
      line-height: @lineHeightDesktop;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;

    @media (min-width: @tabletWidth) {
      width: auto;
      padding: 0 10px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;
      align-items: center;
    }

    @media (min-width: @desktopWidth) {
      padding: 0 10px;
      width: 920px;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    @media (min-width: @tabletWidth) {
      width: 280px;
    }

    &:last-child {
      @media (min-width: @tabletWidth) {
        padding-top: 33px;
      }

      @media (min-width: @desktopWidth) {
        padding-top: 0;
      }
    }
  }

  &__title {
    color: @midnight;
    font-size: @fontSizeBig;
    line-height: @lineHeightSmall;
    font-weight: @fontWeightBold;
    text-align: center;
    margin-bottom: 0;

    @media (min-width: @tabletWidth) {
      margin-bottom: 2px;
    }

    @media (min-width: @desktopWidth) {
      margin-bottom: 20px;
    }
  }

  &__phone-number,
  &__email,
  &__address {
    color: @pink;
    font-size: @fontSizeHuge;
    line-height: @lineHeightHuge;
    font-weight: @fontWeightLight;
    text-align: center;
  }

  &__phone-number {
    margin-bottom: 15px;

    @media (min-width: @tabletWidth) {
      margin-bottom: 0;
    }
  }

  &__email {
    margin-bottom: 22px;

    @media (min-width: @tabletWidth) {
      margin-bottom: 0;
    }
  }

  &__address {
    margin: 0;
  }

  &__phone-number,
  &__email {
    text-decoration: none;
  }

  @media (min-width: @tabletWidth) {
    &__item:last-child {
      margin: 0 auto;
    }
  }

  @media (min-width: @desktopWidth) {
    &__item--email {
      order: 2;
    }

    &__item:last-child {
      order: 1;
      margin: 0;
    }
  }
}
