.effect {
  display: none;

  @media (min-width: @tabletWidth) {
    display: block;
    background-color: @white;
    width: 660px;
    margin: 0 auto;
    padding: 0;
    padding-top: 54px;
    position: relative;
    z-index: 7;

    &__wrapper {
      width: 620px;
      padding: 0 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media (min-width: @desktopWidth) {
        width: 940px;
        padding: 0 10px;
        margin: 0 auto;
      }
    }

    &__fact {
      padding-top: 44px;
      padding-right: 10px;

      @media (min-width: @desktopWidth) {
        padding-top: 98px;
        padding-right: 15px;
        margin-right: 20px;
      }
    }


    &__title {
      color: @black;
      margin: 0;
      margin-bottom: 10px;
      width: 195px;
      font-size: @fontSizeMega;
      line-height: @lineHeightMega;
      font-weight: @fontWeightBold;

      @media (min-width: @desktopWidth) {
        width: auto;
        margin-bottom: 28px;
        line-height: @lineHeightAverage;
      }
    }

    &__description {
      width: 300px;
      color: @midnight;
      font-size: @fontSizeSmall;
      line-height: @lineHeightMoreSmall;
      font-weight: @fontWeightNormal;
      margin: 0;
      margin-bottom: 10px;

      @media (min-width: @desktopWidth) {
        width: 535px;
        margin-bottom: 30px;
        font-size: @fontSizeBig;
        line-height: @lineHeightAverage;
      }
    }

    &__link {
      color: @pink;
      text-decoration: underline;
      font-size: @fontSizeSmall;
      line-height: @lineHeightMoreSmall;
      font-weight: @fontWeightNormal;

      @media (min-width: @desktopWidth) {
        font-size: @fontSizeBig;
        line-height: @lineHeightAverage;
      }
    }
  }

  @media (min-width: @desktopWidth) {
    display: block;
    background-color: @greyBackground;
    width: 100%;
    padding-bottom: 67px;

    &__timer {
      width: 298px;
      height: 345px;
      position: relative;
      top: 3px;
    }
  }
}
