@import "../variables.less";

.footer {
  background-color: @white;

  .socials {
    &__list {
      list-style: none;
    }
  }

  .copyright {
    &__text {
      color: @midnight;
      font-size: @fontSizeSmall;
      line-height: @lineHeightTiny;
      font-weight: @fontWeightNormal;
    }
  }
}
