.footer {
  background-color: @white;

  .socials {
    &__list {
      list-style: none;
    }
  }

  .copyright {
    &__text {
      color: @midnight;
      font-size: @font-size-small;
      line-height: @line-height-tiny;
      font-weight: @font-weight-normal;
    }
  }
}
