.footer {
  background-color: white;
  .socials {
    &__list {
      list-style: none;
    }
  }
  .copyright {
    &__text {
      color: #283645;
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
    }
  }
}
