@import "../variables.less";

.form {
  background-color: @white;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  padding-top: 45px;

  @media (min-width: @tabletWidth) {
    min-width: 660px;
    padding-top: 92px;
  }

  @media (min-width: @desktopWidth) {
    width: 100%;
  }

  &__condition {
    width: 280px;
    margin: 0 auto;
    color: @midnight;
    font-size: @fontSizeSmall;
    line-height: @lineHeightAverage;
    font-weight: @fontWeightNormal;
    text-align: center;

    @media (min-width: @tabletWidth) {
      width: 490px;
      font-size: @fontSizeBig;
    }

    @media (min-width: @desktopWidth) {
      width: 756px;
    }

    &--add {
      display: none;

      @media (min-width: @tabletWidth) {
        display: inline;
        font-size: @fontSizeBig;
        line-height: @lineHeightAverage;
        font-weight: @fontWeightNormal;
      }
    }
  }

  &__fill-in {
    margin: 0 auto;
    padding-top: 35px;
    display: flex;
    flex-direction: column;

    @media (min-width: @tabletWidth) {
      padding-top: 71px;
    }

    @media (min-width: @desktopWidth) {
      width: 940px;
      padding-top: 64px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__initial {
    border: none;
    padding: 0;
    margin: 0 auto;
    padding-bottom: 5px;

    @media (min-width: @tabletWidth) {
      width: 620px;
      padding-bottom: 53px;
    }

    @media (min-width: @desktopWidth) {
      width: 435px;
      padding-top: 21px;
      padding-right: 69px;
      padding-bottom: 0;
      margin: 0;

      .form__item {
        margin-bottom: 55px;
      }

      .form__name {
        width: 100%;
      }
    }

    .form__item:last-child {
      @media (min-width: @tabletWidth) {
        margin-bottom: 0;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 19px;
    text-transform: uppercase;

    @media (min-width: @tabletWidth) {
      display: flex;
      flex-direction: row;
      margin-bottom: 54px;
    }

    &--contacts {
      @media (min-width: @tabletWidth) {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        padding-left: 60px;
        margin-bottom: 24px;

        .form__phone-number,
        .form__email {
          width: 476px;
          position: relative;
        }
      }

      @media (min-width: @desktopWidth) {
        padding-left: 0;
        margin-bottom: 7px;

        .form__phone-number,
        .form__email {
          width: 346px;
        }
      }
    }
  }

  &__label {
    color: @pink;
    font-size: @fontSizeSmall;
    line-height: @lineHeightAverage;
    font-weight: @fontWeightNormal;
    padding-left: 23px;
    margin-bottom: 5px;

    @media (min-width: @tabletWidth) {
      padding-right: 20px;
      padding-top: 16px;
      padding-left: 0;
    }

    @media (min-width: @desktopWidth) {
      padding-left: 0;

      &--middle-name {
        padding-right: 18px;
      }
    }

    &--phone,
    &--email {
      @media (min-width: @tabletWidth) {
        padding-left: 19px;
        padding-top: 12px;
      }

      @media (min-width: @desktopWidth) {
        padding-left: 17px;
      }
    }
  }

  &__input,
  &__message {
    color: @midnight;
    font-size: @fontSizeBig;
    line-height: @lineHeightAverage;
    font-weight: @fontWeightNormal;
  }

  &__input {
    width: 256px;
    height: 55px;
    padding-left: 20px;
    border: 2px solid @grey;
    border-radius: 3px;

    @media (min-width: @tabletWidth) {
      width: 100%;
    }

    @media (min-width: @desktopWidth) {
      width: 313px;
    }
  }

  &__middle-name {
    @media (min-width: @tabletWidth) {
      padding-left: 18px;
    }

    @media (min-width: @desktopWidth) {
      padding-left: 20px;
    }
  }

  &__checkbox-title,
  &__radio-title,
  &__address-title,
  &__message-title {
    color: @pink;
    font-size: @fontSizeSmall;
    line-height: @lineHeightTiny;
    font-weight: @fontWeightNormal;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: @tabletWidth) {
      line-height: @lineHeightAverage;
      white-space: nowrap;
    }
  }

  &__checkbox {
    width: 280px;
    border: none;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 40px;
    background-color: @greyBackground;

    @media (min-width: @tabletWidth) {
      width: 620px;
      padding: 0;
      border: 2px solid @grey;
      order: 4;
      background-color: @white;
      margin-top: 53px;
      margin-bottom: 51px;
    }

    @media (min-width: @desktopWidth) {
      width: 940px;
    }

    &-title {
      width: 240px;
      margin: 0;
      padding: 0;
      margin-bottom: 61px;
      transform: translateY(60px);

      @media (min-width: @tabletWidth) {
        width: 375px;
        padding: 0 31px;
        margin-bottom: 43px;
        transform: translateY(0);
      }

      @media (min-width: @desktopWidth) {
        margin-bottom: 40px;
      }
    }

    &-item {
      margin-bottom: 52px;
      position: relative;

      @media (min-width: @tabletWidth) {
        margin-bottom: 52px;
      }

      @media (min-width: @desktopWidth) {
        width: 280px;

        &:nth-child(even) {
          order: 2;
        }

        &:nth-child(-n+2) {
          margin-right: 30px;
        }

        &:nth-child(n+5) {
          margin-left: 20px;
        }
      }
    }

    &-item:last-child {
      margin-bottom: 47px;

      @media (min-width: @tabletWidth) {
        margin-bottom: 53px;
      }
    }
  }

  &__checkbox-wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: @desktopWidth) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin-bottom: 8px;
    }
  }

  &__option {
    color: @midnight;
    font-size: @fontSizeBig;
    line-height: @lineHeightAverage;
    font-weight: @fontWeightNormal;
    display: block;
    position: relative;
    padding-left: 59px;

    @media (min-width: @tabletWidth) {
      padding-left: 120px;
    }

    &:nth-child(2n-1) {
      @media (min-width: @desktopWidth) {
        padding-left: 119px;
      }
    }

    &--checkbox {
      @media (min-width: @desktopWidth) {
        width: 260px;
      }
    }
  }

  &__checkbox-input + .form__option--checkbox::before {
    content: "";
    position: absolute;
    left: 0;
    top: -4px;
    width: 39px;
    height: 39px;
    background-image: url("../../img/checkbox.svg");
    background-repeat: no-repeat;

    @media (min-width: @tabletWidth) {
      left: 60px;
      top: -5px;
    }
  }

  &__checkbox-input:checked + .form__option--checkbox::after {
    content: "";
    position: absolute;
    left: 9px;
    top: 5px;
    width: 22px;
    height: 16px;
    background-image: url("../../img/tick.svg");
    background-repeat: no-repeat;

    @media (min-width: @tabletWidth) {
      left: 70px;
      top: 5px;
    }
  }

  &__address {
    border: none;
    margin: 0 auto;
    padding-top: 31px;
    padding-bottom: 25px;

    @media (min-width: @tabletWidth) {
      border: 2px solid @grey;
      order: 3;
      width: 620px;
      padding: 0;
    }

    @media (min-width: @desktopWidth) {
      width: 940px;
      padding: 0 60px;
      margin-top: 50px;
      display: flex;
      flex-direction: row;
    }

    &-title {
      display: none;

      @media (min-width: @tabletWidth) {
        display: block;
        padding: 0 25px;
        margin-bottom: 30px;
      }

      @media (min-width: @desktopWidth) {
        padding: 0 25px;
      }
    }
  }

  &__phone {
    @media (min-width: @desktopWidth) {
      margin-right: 70px;
      margin-left: 0;
    }
  }

  &__mail {
    margin-bottom: 0;

    @media (min-width: @tabletWidth) {
      margin-bottom: 20px;
    }

    @media (min-width: @desktopWidth) {
      margin-bottom: 7px;
    }
  }

  &__phone::before,
  &__mail::before {
    @media (min-width: @tabletWidth) {
      content: "";
      position: absolute;
      height: 59px;
      width: 59px;
      top: 0;
      right: 60px;
      background-color: @grey;
      z-index: 2;
    }

    @media (min-width: @desktopWidth) {
      content: "";
      position: absolute;
      height: 59px;
      width: 59px;
      top: 1px;
      right: -2px;
      background-color: @grey;
      z-index: 2;
    }
  }

  &__phone::after {
    @media (min-width: @tabletWidth) {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      right: 81px;
      top: 21px;
      background-image: url("../../img/phone-icon.svg");
      background-repeat: no-repeat;
      z-index: 3;
    }

    @media (min-width: @desktopWidth) {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      right: 18px;
      top: 21px;
      background-image: url("../../img/phone-icon.svg");
      background-repeat: no-repeat;
      z-index: 3;
    }
  }

  &__mail::after {
    @media (min-width: @tabletWidth) {
      content: "";
      position: absolute;
      height: 14px;
      width: 18px;
      right: 82px;
      top: 24px;
      background-image: url("../../img/mail-icon.svg");
      background-repeat: no-repeat;
      z-index: 3;
    }

    @media (min-width: @desktopWidth) {
      content: "";
      position: absolute;
      height: 14px;
      width: 18px;
      right: 21px;
      top: 23px;
      background-image: url("../../img/mail-icon.svg");
      background-repeat: no-repeat;
      z-index: 3;
    }
  }

  &__radio {
    width: 280px;
    border: none;
    margin: 0 auto;
    padding: 0 20px;
    background-color: @greyBackground;

    @media (min-width: @tabletWidth) {
      width: 620px;
      padding: 0;
      border: 2px solid @grey;
      order: 2;
      background-color: @white;
      margin-bottom: 53px;
    }

    @media (min-width: @desktopWidth) {
      width: 430px;
      margin: 0;
    }

    &-item {
      margin-bottom: 45px;
    }

    &-item:last-child {
      margin-bottom: 45px;

      @media (min-width: @tabletWidth) {
        margin-bottom: 56px;
      }

      @media (min-width: @desktopWidth) {
        margin-bottom: 40px;
      }
    }

    &-title {
      transform: translateY(58px);
      margin-bottom: 97px;

      @media (min-width: @tabletWidth) {
        transform: translateY(0);
        margin-bottom: 45px;
        padding: 0 20px;
      }

      @media (min-width: @desktopWidth) {
        margin-bottom: 44px;
      }
    }
  }

  &__radio-input + .form__option--radio::before {
    content: "";
    position: absolute;
    left: 0;
    top: -6px;
    width: 41px;
    height: 41px;
    background-image: url("../../img/radio-off.svg");
    background-repeat: no-repeat;

    @media (min-width: @tabletWidth) {
      left: 60px;
    }

    @media (min-width: @desktopWidth) {
      left: 72px;
    }
  }

  &__radio-input:checked + .form__option--radio::after {
    content: "";
    position: absolute;
    left: 13px;
    top: 7px;
    width: 15px;
    height: 15px;
    background-image: url("../../img/radio-on.svg");
    background-repeat: no-repeat;

    @media (min-width: @tabletWidth) {
      left: 73px;
    }

    @media (min-width: @desktopWidth) {
      left: 85px;
    }
  }

  &__option--radio {
    padding-left: 70px;

    @media (min-width: @tabletWidth) {
      padding-left: 120px;
    }

    @media (min-width: @desktopWidth) {
      padding-left: 132px;
    }
  }

  &__text-us {
    border: none;
    padding: 0 20px;
    margin: 0 auto;
    padding-bottom: 24px;
    width: 280px;
    position: relative;
    display: flex;
    flex-direction: column;

    @media (min-width: @tabletWidth) {
      width: 620px;
      padding: 0;
      border: 2px solid @grey;
      border-radius: 3px;
      order: 6;
      margin-bottom: 65px;
    }

    @media (min-width: @desktopWidth) {
      border: 2px solid @grey;
      order: 5;
      width: 940px;
      margin-bottom: 65px;
    }
  }

  &__message-title {
    margin: 0;
    padding-top: 38px;

    @media (min-width: @tabletWidth) {
      padding: 0 37px;
    }
  }

  &__message {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: @fontSizeBig;
    line-height: @lineHeightAverage;
    font-weight: @fontWeightNormal;
    color: @midnight;
    width: 236px;
    margin: 0 auto;
    margin-top: 18px;
    margin-bottom: 24px;
    padding: 0 20px;
    padding-top: 13px;
    padding-bottom: 32px;
    border: 2px solid @grey;
    border-radius: 3px;
    resize: none;

    @media (min-width: @tabletWidth) {
      width: 456px;
      padding-top: 14px;
      padding-bottom: 24px;
      margin-top: 32px;
      margin-bottom: 52px;
    }

    @media (min-width: @desktopWidth) {
      margin-top: 28px;
      margin-bottom: 44px;
      width: 776px;
      height: 84px;
    }
  }

  &__panel {
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @media (min-width: @tabletWidth) {
      order: 6;
      width: 620px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    @media (min-width: @desktopWidth) {
      width: 940px;
    }
  }

  &__toggle {
    width: 280px;
    height: 63px;
    padding: 0;
    margin: 0 20px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: @white;
    text-transform: uppercase;
    background-color: @green;
    border-radius: 3px;
    border-style: none;

    @media (min-width: @tabletWidth) {
      width: 300px;
      margin: 0;
    }
  }

  &__note {
    color: @midnight;
    text-transform: uppercase;
    text-align: center;
    font-size: @fontSizeSmall;
    line-height: @lineHeightAverage;
    font-weight: @fontWeightNormal;
    margin: 0 auto;

    @media (min-width: @tabletWidth) {
      margin: 0;
      align-self: center;
    }

    &-star {
      color: @pink;
    }

    &--desktop {
      display: none;

      @media (min-width: @desktopWidth) {
        display: inline;
      }
    }
  }
}
