@import "../variables.less";

.form {
  background-color: @white;

  &__condition {
    color: @midnight;
    font-size: @fontSizeSmall;
    line-height: @lineHeightAverage;
    font-weight: @fontWeightNormal;
  }

  &__label {
    color: @pink;
    font-size: @fontSizeSmall;
    line-height: @lineHeightAverage;
    font-weight: @fontWeightNormal;
  }

  &__input,
  &__message {
    color: @midnight;
    font-size: @fontSizeBig;
    line-height: @lineHeightAverage;
    font-weight: @fontWeightNormal;
  }

  &__checkbox-title,
  &__radio-title,
  &__message-title {
    color: @pink;
    font-size: @fontSizeSmall;
    line-height: @lineHeightTiny;
    font-weight: @fontWeightNormal;
  }
}
