@import "../variables.less";

.header {
  color: @white;
  background-color: @midnight;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tabletWidth) {
    width: 620px;
  }

  @media (min-width: @desktopWidth) {
    display: flex;
    justify-content: space-between;
    width: 940px;
  }

  &__logo {
    height: 66px;

    @media (min-width: @tabletWidth) {
      height: 110px;
    }
  }
}
