@import "../variables.less";

.info {
  background-color: @greyBackround;

  &__offer {
    background-color: @white;
    color: @midnight;
    font-size: @fontSizeHuge;
    line-height: @lineHeightNormal;
    font-weight: @fontWeightLight;
  }

  &__list {
    list-style: none;
  }

  &__title {
    color: @black;
    font-size: @fontSizeBig;
    line-height: @lineHeightMoreSmall;
    font-weight: @fontWeightBold;
  }

  &__description {
    color: @midnight;
    font-size: @fontSizeSmall;
    line-height: @lineHeightMoreSmall;
    font-weight: @fontWeightNormal;
  }
}
