.info {
  background-color: #F2F2F2;
  &__offer {
    background-color: white;
    color: #283645;
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
  }
  &__list {
    list-style: none;
  }
  &__title {
    color:black;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
  }
  &__description {
    color: #283645;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }

}
