@import "../variables.less";

.info {
  background-color: @greyBackground;
  margin: 0 auto;
  width: 320px;

  @media (min-width: @tabletWidth) {
    width: 660px;
  }

  @media (min-width: @desktopWidth) {
    width: 940px;
  }

  &__offer {
    background-color: @white;
    color: @midnight;
    font-size: @fontSizeHuge;
    line-height: @lineHeightNormal;
    font-weight: @fontWeightLight;
    text-align: center;
  }

  &__list {
    list-style: none;
  }

  &__title {
    color: @black;
    font-size: @fontSizeBig;
    line-height: @lineHeightMoreSmall;
    font-weight: @fontWeightBold;
  }

  &__description {
    color: @midnight;
    font-size: @fontSizeSmall;
    line-height: @lineHeightMoreSmall;
    font-weight: @fontWeightNormal;
  }

  &__phone {
    display: none;
  }

  &__phone--mobile {
    display: block;
    margin: 0 auto;
  }

  @media (min-width: @tabletWidth) {
    &__purpose {
      display: flex;
      flex-direction: row;
    }

    &__phones {
      order: -1;
    }

    &__phone--mobile {
      display: block;
      margin: 0;
    }
  }

  @media (min-width: @desktopWidth) {
    &__purpose {
      display: flex;
      flex-direction: column;
    }

    &__list {
      display: flex;
    }

    &__phones {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    &__phone {
      display: block;
    }
  }
}
