@import "../variables.less";

.map {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  background-color: @white;

  @media (min-width: @tabletWidth) {
    min-width: 660px;
    margin: 0 auto;
  }

  @media (min-width: @desktopWidth) {
    width: 100%;
    margin: 0 auto;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 34px;
    margin: 0 auto;
    background-image: url("../../img/triangle white footer.svg");
    background-position: center 0;
    background-repeat: no-repeat;

    @media (min-width: @tabletWidth) {
      background-image: url("../../img/triangle white footer-2.svg");
      background-position: center 0;
      background-repeat: no-repeat;
      width: 100%;
      height: 68px;
    }

    @media (min-width: @desktopWidth) {
      background-image: url("../../img/triangle white footer-3.svg");
      background-position: center 0;
      background-repeat: no-repeat;
      width: 100%;
      height: 123px;
      top: -20px;
    }
  }

  &__wrapper {
    background-image: url("../../img/map-mobile.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 200px;
    margin: 0 auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/map-mobile@2x.jpg");
      background-size: 320px 200px;
      background-position: center 0;
    }

    @media (min-width: @tabletWidth) {
      background-image: url("../../img/map-tablet.jpg");
      background-repeat: no-repeat;
      background-position: bottom center;
      height: 374px;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/map-tablet@2x.jpg");
        background-size: 660px 374px;
        background-position: center 0;
      }
    }

    @media (min-width: @desktopWidth) {
      background-image: url("../../img/map-desktop.jpg");
      background-repeat: no-repeat;
      background-position: bottom center;
      height: 502px;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/map-desktop@2x.jpg");
        background-size: 1200px 502px;
        background-position: center 0;
      }
    }
  }

  &__google {
    width: 100%;
    height: 200px;
    border: none;

    @media (min-width: @tabletWidth) {
      width: 100%;
      height: 374px;
    }

    @media (min-width: @desktopWidth) {
      width: 100%;
      height: 502px;
    }
  }
}
