@import "../variables.less";

.map {
  width: 320px;
  margin: 0 auto;
  padding: 0;

  @media (min-width: @tabletWidth) {
    width: 660px;
  }

  @media (min-width: @desktopWidth) {
    width: 940px;
  }
}
