@import "../variables.less";

.photo {
  background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  height: 170px;
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  width: 100%;

  @media (min-width: @tabletWidth) {
    min-width: 620px;
    height: 330px;
    background-image: url("../../img/back-tablet.jpg");
  }

  @media (min-width: @desktopWidth) {
    min-width: 940px;
    height: 285px;
    background-image: url("../../img/back-desktop.jpg");
  }

  &__title {
    width: 175px;
    margin: 0 auto;
    padding-top: 36px;
    color: @white;
    font-size: @fontSizeHuge;
    line-height: @lineHeightHuge;
    font-weight: @fontWeightLight;
    text-align: center;

    @media (min-width: @tabletWidth) {
      width: 358px;
      padding-top: 81px;
    }

    @media (min-width: @tabletWidth) {
      padding-top: 74px;
    }
  }
}
