.price {
  background-color: @grey-background;

  .table {
    &__offers {
      background-color: @midnight;

      &-none {
        background-color: @grey-background;
      }

      &-title {
        color: @white;
        font-size: @font-size-medium;
        line-height: @line-height-average;
        font-weight: @font-weight-light;

        h3 {
          font-weight: @font-weight-bold;
        }
      }
    }

    &__description {
      background-color: @white;

      &-title {
        color: @midnight;
        font-size: @font-size-small;
        line-height: @line-height-average;
        font-weight: @font-weight-bold;
      }
    }
  }
}
