@import "../variables.less";

.price {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  background-color: @white;
  position: relative;

  @media (min-width: @tabletWidth) {
    min-width: 660px;
  }

  @media (min-width: @desktopWidth) {
    width: 100%;
  }

  &__wrapper::before {
    position: absolute;
    content: "";
    top: -7px;
    left: 0;
    z-index: 1;
    width: 320px;
    height: 506px;
    background-image: url("../../img/mobile-grey-background-2.svg");
    background-repeat: no-repeat;
    background-position: center 0;

    @media (min-width: @tabletWidth) {
      background-image: url("../../img/tablet-grey-background-2.svg");
      background-repeat: no-repeat;
      background-position: center 0;
      width: 660px;
      height: 534px;
      top: -4px;
    }

    @media (min-width: @desktopWidth) {
      background-image: url("../../img/desktop-grey-background-2.svg");
      background-position: center 0;
      background-repeat: no-repeat;
      width: 960px;
      top: 32px;
      left: 0;
    }
  }

  &__wrapper {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    padding-top: 119px;
    padding-bottom: 45px;
    overflow: hidden;
    position: relative;
    z-index: 2;

    @media (min-width: @tabletWidth) {
      width: 620px;
      padding-top: 109px;
      padding-bottom: 70px;
    }

    @media (min-width: @desktopWidth) {
      width: 940px;
      margin: 0 auto;
      padding-top: 190px;
      padding-bottom: 98px;
    }
  }

  &__container {
    width: 300%;
    transform: translateX(-258px);
    position: relative;
    z-index: 3;

    @media (min-width: @tabletWidth) {
      width: 100%;
      transform: translateX(0);
    }
  }

  &__table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__header {
    display: flex;
    flex-direction: row;
  }

  &__blank {
    display: none;

    @media (min-width: @tabletWidth) {
      display: block;
      width: 154px;
    }

    @media (min-width: @desktopWidth) {
      display: block;
      width: 235px;
    }
  }

  &__title,
  &__box {
    width: 278px;

    @media (min-width: @tabletWidth) {
      display: block;
      width: 153px;
    }

    @media (min-width: @desktopWidth) {
      display: block;
      width: 232px;
    }
  }

  &__title {
    background-color: @midnight;
    border-left: 1px solid @grey;
    border-right: 1px solid @grey;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 13px;
    padding-bottom: 27px;

    @media (min-width: @tabletWidth) {
      padding-top: 13px;
      padding-bottom: 8px;
    }

    @media (min-width: @desktopWidth) {
      padding-top: 17px;
      padding-bottom: 19px;
    }

    &--first {
      @media (min-width: @tabletWidth) {
        border-left: 1px solid @midnight;
        border-bottom: 1px solid @midnight;
      }
    }

    &--last {
      @media (min-width: @tabletWidth) {
        border-right: 1px solid @midnight;
        border-bottom: 1px solid @midnight;
      }
    }

    &--first::before {
      position: absolute;
      content: "";
      display: block;
      width: 74px;
      height: 74px;
      background-image: url("../../img/hit-ribbon.svg");
      background-repeat: no-repeat;
      top: 0;
      left: 278px;

      @media (min-width: @tabletWidth) {
        background-image: url("../../img/hit-ribbon-tablet.svg");
        width: 61px;
        height: 61px;
        left: 310px;
      }

      @media (min-width: @desktopWidth) {
        background-image: url("../../img/hit-ribbon.svg");
        width: 74px;
        height: 74px;
        left: 470px;
      }
    }

    &--first::after {
      position: absolute;
      content: "Хит";
      color: @white;
      font-size: @fontSizeSmall;
      line-height: @lineHeightAverage;
      transform: rotate(-45deg);
      top: 15px;
      left: 292px;
      text-transform: uppercase;

      @media (min-width: @tabletWidth) {
        top: 11px;
        left: 318px;
      }

      @media (min-width: @desktopWidth) {
        top: 13px;
        left: 485px;
      }
    }
  }

  &__name {
    font-size: @fontSizeMedium;
    line-height: @lineHeightAverage;
    font-weight: @fontWeightBold;
    color: @white;
    text-transform: uppercase;
    margin: 0;

    @media (min-width: @tabletWidth) {
      margin: 0;
    }

    @media (min-width: @desktopWidth) {
      font-size: @fontSizeBig;
    }
  }

  &__cost {
    font-size: @fontSizeBig;
    line-height: @lineHeightAverage;
    font-weight: @fontWeightLight;
    color: @white;
    margin: 0;

    @media (min-width: @tabletWidth) {
      margin: 0;
    }

    @media (min-width: @desktopWidth) {
      font-size: @fontSizeHuge;
    }
  }

  &__rows {
    display: flex;
    flex-direction: row;
  }

  &__box {
    background-color: @white;
    border: 1px solid @grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  &__box--first {
    display: none;

    @media (min-width: @tabletWidth) {
      display: block;
      width: 153px;
      text-align: start;
    }

    @media (min-width: @desktopWidth) {
      display: block;
      width: 233px;
    }
  }

  &__toggles {
    display: flex;
    justify-content: center;
    gap: 13px;
    padding-top: 43px;

    @media (min-width: @tabletWidth) {
      display: none;
    }
  }

  &__text,
  &__text-left {
    font-size: @fontSizeSmall;
    line-height: @lineHeightAverage;
    font-weight: @fontWeightNormal;
    color: @midnight;
  }

  &__text {
    width: 150px;
    text-transform: uppercase;
    position: relative;
    right: 5px;

    @media (min-width: @tabletWidth) {
      display: none;
    }
  }

  &__text-left {
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;

    @media (min-width: @desktopWidth) {
      font-size: @fontSizeBig;
      padding-top: 14px;
      padding-bottom: 14px;
      padding-left: 22px;
    }
  }

  &__yes,
  &__no {
    position: relative;
    left: 4px;

    @media (min-width: @tabletWidth) {
      left: 0;
    }
  }
}
