.reviews {
  background-color: @white;

  &__author-name {
    color: @black;
    font-size: @font-size-big;
    line-height: @line-height-average;
    font-weight: @font-weight-bold;
    font-style: normal;
  }

  &__text {
    color: @midnight;
    font-size: @font-size-small;
    line-height: @line-height-average;
    font-weight: @font-weight-normal;
  }
}
