.reviews {
  background-color: white;
  &__author-name {
    color: black;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    font-style: normal;
  }
  &__text {
    color: #283645;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
  }
}
