@import "../variables.less";

.upload {
  background-color: @greyBackground;
  min-width: 320px;
  margin: 0 auto;

  @media (min-width: @tabletWidth) {
    min-width: 660px;
  }

  @media (min-width: @desktopWidth) {
    width: 100%;
  }

  &__wrapper {
    margin: 0 auto;
    padding-top: 0;

    @media (min-width: @desktopWidth) {
      width: 960px;
      margin: 0 auto;
    }
  }

  &__filters {
    background-color: @greyBackground;
    width: 280px;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: @tabletWidth) {
      width: 620px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 57px;
      padding-bottom: 49px;
    }

    @media (min-width: @desktopWidth) {
      width: 800px;
      padding-left: 80px;
      padding-right: 60px;
      padding-bottom: 52px;
      justify-content: space-between;
    }
  }

  &__effects {
    width: 280px;
    margin: 0 auto;

    @media (min-width: @tabletWidth) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 300px;
    }

    @media (min-width: @desktopWidth) {
      width: 410px;
      margin: 0;
    }
  }

  &__list {
    width: 200px;
    list-style: none;
    margin: 0 auto;
    margin-bottom: 3px;
    padding: 0;
    padding-top: 35px;
    padding-right: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (min-width: @tabletWidth) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 167px;
      width: 80px;
      padding-top: 9px;
      padding-left: 9px;
      padding-right: 0;
      margin: 0;
    }

    @media (min-width: @desktopWidth) {
      width: 48px;
      height: 184px;
      padding-top: 0;
      padding-left: 0;
    }
  }

  &__crop,
  &__fill,
  &__contrast {
    border: none;
    background-color: transparent;
    outline: none;

    @media (min-width: @desktopWidth) {
      padding: 0;
    }
  }

  &__fill,
  &__contrast {
    fill: @midnight;
    opacity: 0.3;

    @media (min-width: @tabletWidth) {
      fill: @pink;
      opacity: 1;
    }
  }

  &__crop svg {
    @media (min-width: @tabletWidth) {
      width: 22px;
      height: 22px;
    }

    @media (min-width: @desktopWidth) {
      width: 44px;
      height: 44px;
    }
  }

  &__fill svg {
    @media (min-width: @tabletWidth) {
      width: 24px;
      height: 22px;
    }

    @media (min-width: @desktopWidth) {
      width: 48px;
      height: 43px;
    }
  }

  &__contrast svg {
    @media (min-width: @tabletWidth) {
      width: 16px;
      height: 16px;
    }

    @media (min-width: @desktopWidth) {
      width: 32px;
      height: 32px;
    }
  }

  &__range {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 33px;
    padding-bottom: 35px;

    @media (min-width: @tabletWidth) {
      width: 202px;
      padding-top: 19px;
      padding-bottom: 35px;
      padding-left: 0;
      padding-right: 8px;
    }

    @media (min-width: @desktopWidth) {
      width: 288px;
      padding-right: 30px;
    }
  }

  &__scale {
    height: 2px;
    background: #283645;
    position: relative;

    &-toggle {
      position: absolute;
      width: 10px;
      height: 10px;
      background: @greyBackground;
      border: 2px solid @pink;
      border-radius: 50%;
      top: -6px;
      right: 33px;
      cursor: pointer;

      &--crop {
        @media (min-width: @tabletWidth) {
          right: 42px;
        }

        @media (min-width: @desktopWidth) {
          right: 205px;
        }
      }

      &--fill {
        @media (min-width: @tabletWidth) {
          right: 163px;
        }

        @media (min-width: @desktopWidth) {
          right: 27px;
        }
      }

      &--contrast {
        @media (min-width: @tabletWidth) {
          right: 92px;
        }

        @media (min-width: @desktopWidth) {
          right: 114px;
        }
      }
    }

    &--fill,
    &--contrast {
      display: none;

      @media (min-width: @tabletWidth) {
        display: block;
      }
    }

    &--fill {
      @media (min-width: @tabletWidth) {
        margin-top: 71px;
        margin-bottom: 68px;
      }
    }
  }


  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 37px;
    padding-bottom: 41px;

    @media (min-width: @tabletWidth) {
      gap: 24px;
      padding-top: 62px;
      padding-left: 37px;
      padding-bottom: 0;
    }

    @media (min-width: @desktopWidth) {
      padding-top: 140px;
      padding-left: 0;
      gap: 44px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__button-upload {
    width: 280px;
    height: 55px;
    color: @pink;
    font-size: @fontSizeBig;
    line-height: @lineHeightTiny;
    font-weight: @fontWeightBold;
    border: 3px solid @pink;
    box-sizing: border-box;
    border-radius: 30px;

    @media (min-width: @tabletWidth) {
      width: 260px;
    }

    @media (min-width: @desktopWidth) {
      width: 183px;
    }
  }

  &__button-cancel {
    width: 280px;
    height: 55px;
    color: @midnight;
    font-size: @fontSizeBig;
    line-height: @lineHeightTiny;
    font-weight: @fontWeightBold;
    border: 3px solid @midnight;
    box-sizing: border-box;
    border-radius: 30px;
    opacity: 0.1;

    @media (min-width: @tabletWidth) {
      width: 260px;
    }

    @media (min-width: @desktopWidth) {
      width: 183px;
    }
  }
}
