@import "../variables.less";

.upload {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding-top: 49px;

  &__title {
    color: @midnight;
    font-size: @fontSizeSmall;
    line-height: @lineHeightAverage;
    font-weight: @fontWeightNormal;
    text-align: center;
    width: 260px;
    margin: 0 auto;
    margin-bottom: 54px;

    @media (min-width: @tabletWidth) {
      width: 350px;
    }
  }

  &__filters {
    background-color: @greyBackground;
    width: 280px;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: @tabletWidth) {
      width: 620px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 57px;
      padding-bottom: 54px;
    }

    @media (min-width: @desktopWidth) {
      width: 800px;
      padding: 57px 60px 57px 79px;
      justify-content: space-around;
    }
  }

  &__effects {
    @media (min-width: @tabletWidth) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    @media (min-width: @desktopWidth) {
      width: 400px;
    }
  }

  &__list {
    width: 200px;
    list-style: none;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (min-width: @tabletWidth) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 150px;
      width: 300px;
    }
  }

  &__crop,
  &__fill,
  &__contrast {
    border: none;
    background-color: transparent;
    outline: none;
  }

  &__fill,
  &__contrast {
    fill: @midnight;
    opacity: 0.3;

    @media (min-width: @tabletWidth) {
      fill: @pink;
      opacity: 1;
    }
  }

  &__crop svg {
    @media (min-width: @tabletWidth) {
      width: 22px;
      height: 22px;
    }

    @media (min-width: @desktopWidth) {
      width: 44px;
      height: 44px;
    }
  }

  &__fill svg {
    @media (min-width: @tabletWidth) {
      width: 24px;
      height: 22px;
    }

    @media (min-width: @desktopWidth) {
      width: 48px;
      height: 43px;
    }
  }

  &__contrast svg {
    @media (min-width: @tabletWidth) {
      width: 16px;
      height: 16px;
    }

    @media (min-width: @desktopWidth) {
      width: 32px;
      height: 32px;
    }
  }

  &__toggles {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 41px;

    @media (min-width: @tabletWidth) {
      gap: 24px;
      padding-bottom: 0;
    }

    @media (min-width: @desktopWidth) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__toggle-upload {
    width: 280px;
    height: 55px;
    color: @pink;
    font-size: @fontSizeBig;
    line-height: @lineHeightTiny;
    font-weight: @fontWeightBold;
    border: 3px solid @pink;
    box-sizing: border-box;
    border-radius: 30px;

    @media (min-width: @desktopWidth) {
      width: 183px;
    }
  }

  &__toggle-cancel {
    width: 280px;
    height: 55px;
    color: @midnight;
    font-size: @fontSizeBig;
    line-height: @lineHeightTiny;
    font-weight: @fontWeightBold;
    border: 3px solid @midnight;
    box-sizing: border-box;
    border-radius: 30px;
    opacity: 0.1;

    @media (min-width: @desktopWidth) {
      width: 183px;
    }
  }
}
