// Colors

@black: #000000;
@white: #ffffff;
@midnight: #283645;
@midnight-background: #1d2631;
@grey-background: #f2f2f2;
@pink: #d22856;

// Fonts Mobile

@font-size-small: 14px;
@font-size-medium: 16px;
@font-size-big: 18px;
@font-size-huge: 24px;

@line-height-tiny: 18px;
@line-height-more-small: 24px;
@line-height-small: 25px;
@line-height-normal: 29px;
@line-height-average: 30px;
@line-height-big: 32px;
@line-height-huge: 33px;

@font-weight-light: 300;
@font-weight-normal: 400;
@font-weight-bold: 700;
